.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.App-select {
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
}

.App-content {
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  text-align: left;
  width: 100vw;
  bottom: 0;
}

.show-loader {
  display: block;
}

.hide-loader {
  display: none;
}
